body {
    font-family: arial,sans-serif;
    margin: 0;
}

.botones {
    text-align: center;
}

.botones input {
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5f6368;
    cursor: pointer;
    font-size: 14px;
    height: 36px;
    margin: 4px;
    min-width: 54px;
    padding: 0 16px;
}

.botones input:hover {
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    color: #222;
}

.botones input:focus {
    border: 1px solid #4d90fe;
    outline: none;
}

#boton-login {
    background: -webkit-linear-gradient(top, #4387fd, #4683ea);
    border: 1px solid #4285f4;
    border-radius: 2px;
    color: #fff;
    cursor: default;
    display: inline-block;
    font-weight: bold;
    line-height: 28px;
    padding: 0 12px;
    text-decoration: none;
}

#boton-login:hover {
    box-shadow: 0 1px 0 rgba(0, 0, 0, .15);
    opacity: .99;
}

.buscar {
    background: #fff;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    height: 40px;
    margin: 25px auto;
    text-align: center;
    width: 465px;
}

.buscar:hover {
    border-color: rgba(223, 225, 229, 0);
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
}

footer {
    bottom: 0;
    position: fixed;
    width: 100%;
}

footer nav {
    background: #f2f2f2;
    border-top: 1px solid #e4e4e4;
    font-size: 14px;
    line-height: 40px;
}

footer nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    padding-right: 27px;
}

footer nav ul li {
    display: inline-flex;
    padding-left: 27px;
}

footer nav ul li a {
    color: #5f6368;
    text-decoration: none;
}

footer nav ul li a:hover {
    opacity: .85;
    text-decoration: underline;
}

header nav {
    padding-left: 30px;
    padding-right: 30px;
    text-align: right;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline;
    font-size: 13px;
    margin-left: 10px;
}

header nav ul li a {
    color: rgba(0, 0, 0, .87);
    text-decoration: none;
}

header nav ul li a:hover {
    opacity: .85;
    text-decoration: underline;
}

.icono-apps {
    background-image: url('//ssl.gstatic.com/gb/images/i1_1967ca6a.png');
    background-position: -132px -38px;
    background-size: 528px 68px;
    display: inline-flex;
    height: 30px;
    opacity: .55;
    vertical-align: middle;
    width: 30px;
}

.icono-buscar {
    display: inline;
    padding-right: 5px;
    vertical-align: middle;    
}

.icono-microfono {
    display: inline;
    vertical-align: middle;
}

.logo {
    padding-top: 92px;
    text-align: center;
}

.lupa {
    color: #9aa0a6;
    height: 20px;
    opacity: .4;
    vertical-align: middle;
    width: 20px;
}

.microfono {
    cursor: pointer;
    height: 24px;
    vertical-align: middle;
    width: 24px;
}

.nav-izquierda {
    margin-right: auto;
}

.texto-buscar {
    display: inline;
    line-height: 40px;
}

.texto-buscar input {
    border: none;
    font-size: 16px;
    width: 370px;
}

.texto-buscar input:focus {
    outline: 0;
}
